@dynamicClr: red;
@change: 10%;
@transparency: 30%;

.gradient-ex { .gradient(white, grey); }
.border-radius-ex { .borderRadius(10px); }
.resolve-text-color-ex { .resolveTextColor(black); }
.change-color-on-hover { background: @dynamicClr; .resolveTextColor(@dynamicClr);
  &:hover { .resolveChangeBackground(@dynamicClr, @change); }
}
.change-color-on-hover-with-transition { background: @dynamicClr; .resolveTextColor(@dynamicClr); .transitions(500ms);
  &:hover { .resolveChangeBackground(@dynamicClr, @change); }
}
.transparent-rgba { .toRGBABackground(black, @transparency); .resolveTextColor(black); }

.content { background: #ccc; padding: 20px; }
.black { background-color: black; }
